@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");
$theme-colors: (
  primary: #8b0000,
  primary-light: #e01c20,
  light: #f5f5f5,
  dark: #0c2336,
  yellow: #feff01,
  yellow-light: #ffd50069,
  info: #91eaac,
  secondary: #ced4da,
  grey: #dee2e6,
  disabled: #eaeaea99,
  green: #447612,
  dark-yellow: rgb(237, 213, 82),
  light-blue: rgb(136, 132, 252),
  danger: #b81818,
  muted: rgb(152, 152, 152),
  white: white,
  water-blue: #f4f6fb,
  purple: #794d9b,
  light-primary: #fac278,
  light-green: rgb(195, 247, 195),
  light-red: rgb(248, 211, 197),
  bootstrap-primary: #5cb85c,
);
$border-radius: 0.5rem;

html,
body,
#root {
  height: 100%;
  font-family: "Crimson Text", serif;
}

.hover {
  cursor: pointer;
}

.hover-light:hover {
  background-color: #ff8e2b36;
  cursor: pointer;
}
.thin-fw {
  font-weight: 300;
}

.hover-dark:hover {
  color: white;
  background-color: #ff8e2b;
  cursor: pointer;
  border-radius: 0.5rem;
}

.a {
  cursor: pointer;
  text-decoration: underline;
}

.left-bar {
  border-left: 10px solid #0c2336;
}

.small {
  font-size: 12px;
}
.larger {
  font-size: 50px;
}
.smallFont {
  font-size: 12px;
}

.mid {
  font-size: 13px;
}

.large {
  font-size: 14px;
}

.xlarge {
  font-size: 16px;
}

.xxlarge {
  font-size: 18px;
}
.xxxlarge {
  font-size: 24px;
}

.tiny {
  font-size: 10px;
}

.xs {
  font-size: 8px;
}
.xxxxlarge {
  font-size: 35px;
}
.huge {
  font-size: 50px;
}

.border-input {
  border: 1px solid black;
}
.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.gray-scale {
  filter: grayscale(100%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-toggle::before {
  display: none !important;
}

.blur {
  filter: blur(3px);
}

.opacity-50 {
  opacity: 0.5;
}
.foo {
  position: fixed;
  bottom: 0;
  right: 0;
}

.item-at-center {
  font-size: 20px;
  position: relative;
  top: 13%;
  left: 10%;
}

.select-picker {
  font-size: 12px !important;
}

.remove-button-outline {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  text-decoration: none !important;
}

.remove-button-outline:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

*,
html {
  scroll-behavior: smooth !important;
}
.button-rounded {
  border-radius: 5% !important;
}

.blood-camp-card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.blood-camp-card-title {
  font-size: 24px;
  font-weight: bold;
}

.blood-camp-card-details {
  font-size: 14px;
}

.blood-camp-card-button {
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}

.blood-camp-card-button:hover {
  background-color: #c82333;
  border-color: #c82333;
  cursor: pointer;
}

@import "~bootstrap/scss/bootstrap";
